<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <a href='/schools' class='btn btn-waves'>Back</a>
    <h1 class='center'>About "School"</h1>
    <div class='row'>
      <div class='col s12 m4 border'>
    	<h3>The Beginning of the "School"</h3>
      <hr/>
    	<p>We were found in 1876 but Sir Thomas III. Growing up as an orphan, Thomas always wanted to opportunity to get an education just like all the kids with a set of parents. However, because he was an outcast, he chose to seek that on his own. After 16 years of taken thrown away books, listening outside classroom and writing in the dirt with a stick, Thomas was able to read, write and speak better than most kids with a daily routine of education. Eventually after being discovered and helped by several outsiders, Thomas was able to get an education and earn enough money to open a school for orphaned children seeking an education. Over the years the "School" has turned into corporation for all people seeking an education to come and learn. The "School" stands strong because of it's core values, that everyone (no one matter who) deserves an education if that is what they truly seek.</p>
      </div>
      <div class='col s12 m4 border'>
    	<h3>The Courses of the School</h3>
      <hr/>
    	<p>We are able to provide hundreds of courses of all ages. Math, Science, English, Writing, Health, you name it! We also provide online tutoring if you are interested in additional help. The cost depends on the amount courses you choose and the difficulty level. Call today to get a "quote" of sorts to figure out exactly what you will be needing.</p>
      </div>
        <div class='table col s12 m4 border'>
      	<h3>Contact information</h3>
        <hr/>
      	<table>
        <thead>
          <tr>
              <th data-field="id">Phone</th>
              <th data-field="name">Email</th>
              <th data-field="price">Fax</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>801-656-1876</td>
            <td>schools@email.com</td>
            <td>801-655-1876</td>
          </tr>
        </tbody>
      </table>
        </div>
        <br/>
        <br/>
        <br/>
        <div class='col s12 m4 border'>
          <p>If you have additional questions or comments, please don't hesitate to call , email or fax us using the information provided above.</p>
            <input type='text' name='comment' placeholder='Add your comment'></input>
            <button onClick='myFunction()' class='btn btn-waves sendBtn' type='submit'>Send Comment
            </button>
            <script>
              function myFunction() {
                alert('The comment has been sent')
              } 
            </script>
        </div>
    </div>
  </body>
</html>
