<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <h1 class='center'>The "<%= title %>"</h1>
    <p class='center'>Welcome to the "<%= title %>"!!!</p>
    <div class='row'>
      <div class='col s12 m6 border'>
        <h3 class='center'>About "School"</h3>
        <p class='center'>Visit our about page to get more information about "School"</p>
      </div>
      <div class='col s12 m6 border'>
        <h3 class='center'>Courses in "School"</h3>
        <p class='center'>Visit our courses page to add and delete courses from your registration</p>
      </div>
    </div>
  </body>
</html>
